<component name="ArtifactManager">
  <artifact type="war" name="springboot-shiro (1):war">
    <output-path>$PROJECT_DIR$/springboot-shiro01/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springboot-shiro (1)</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springboot-shiro-0.0.1-SNAPSHOT.war">
      <element id="artifact" artifact-name="springboot-shiro (1):war exploded" />
    </root>
  </artifact>
</component>